/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #E3E3D6;
  margin: 5rem 10rem;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.phraseContainer { 
	display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #6B90EB;
}